@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

body {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  /* gradient position*/
  background-attachment: fixed;
  background-size:
    100% 300px,
    100% 300px;
  background-repeat: no-repeat;
}

main {
  margin: 0 24px;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

h1 {
  font-size: clamp(40px, 7vw, 96px);
}

h2 {
  font-size: clamp(32px, 3.5vw, 48px);
  font-weight: 400;
}

h3 {
  font-size: clamp(24px, 2.5vw, 40px);
  font-weight: 400;
}

h4 {
  font-size: clamp(18px, 1vw, 32px);
  font-weight: 500;
}

p,
span {
  font-family: "Lora", serif;
  line-height: 1.5;
  font-size: clamp(14px, 1vw, 18px);

  &.eyebrow,
  &.tech {
    font-size: 11px;
  }
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

button {
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  background-color: #242424;
  color: #fff;
  outline: none;
  border: 2px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}

input:hover,
textarea:hover {
  border-color: #dcdfe6;
}

input:focus,
textarea:focus {
  border-color: #146c94;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

label {
  font-size: 14px;
  font-weight: 700;
}

.responsive {
  width: 100%;
  height: auto;
}

/* .header-gradient {
  display: block;
  width: 100%;
  height: 25%;
  background: linear-gradient(to right, blue, green);
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
} */

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--white:after {
  background-color: #fff;
}

.link__hover-effect--black:after {
  background-color: #000;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

nav,
.scroll,
.header {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 400ms;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header,
.modal--open #projects,
.modal--open footer {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.container {
  padding: 50px 0;
}

.section__title {
  margin-bottom: 60px;
}

.click {
  transition: all 300ms ease;
  cursor: pointer;
}

.click:active {
  transform: scale(0.8);
}

.pretitle {
  text-align: left;
  line-height: 1;
}

.title {
  text-align: left;
  line-height: 1;
}

.posttitle {
  text-align: left;
  line-height: 1;
  filter: brightness(80%);
}

.blue {
  font-weight: 600;
  color: #146c94;
}

/* LANDING PAGE */

#landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  margin: auto 0;
  z-index: 1;
}

.header__para,
.header__para > span {
  max-width: 450px;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
  width: 70%;
}

.header__titles {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header__img {
  width: 600px;
}

.header__picture {
  width: 30%;
  filter: grayscale(60%);
  align-content: center;
}

.header__picture > img {
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.45);
}

.social__list {
  display: flex;
  gap: 24px;
}

.mail__btn {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: #242424;
  color: #fff;
  position: fixed;
  bottom: 32px;
  right: 40px;
  z-index: 100;
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.55);
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

/* NAVIGATION BAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

#personal-logo {
  width: auto;
  height: 75px;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor,
.social__link {
  font-size: 16px;
  color: #242424;
  font-weight: 600;
}

.fa-adjust {
  font-size: 20px;
}

/* MODAL */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition:
    visibility 1s,
    z-index 1s,
    box-shadow 0.5s ease;
}

.modal--open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
  visibility: visible;
}

.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact {
  transform: translateX(0%);
}

.modal__about {
  background-color: #f6f1f1;
  transform: translateX(-110%);
}

.modal__contact {
  background-color: #242424;
  color: #fff;
  transform: translateX(110%);
}

.modal__title {
  font-size: 26px;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}

.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}

.form__item {
  margin-bottom: 20px;
}

.form__submit {
  background-color: #146c94;
  border: 2px solid #146c94;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  padding: 8px 20px;
  transition: all 300ms ease;
}

.form__submit:hover {
  border-color: #fff;
  background-color: transparent;
}

.form__submit:active {
  border-color: #146c94;
  color: #146c94;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
}

.modal__overlay--success {
  background-color: #4bb543;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: spinner 750ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #fff;
  font-size: 36px;
  z-index: 100;
}

/* TECH STACK */
#tech-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;

  > figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      filter: brightness(80%);
      justify-content: space-around;

      > img {
        transform: scale(0.75);
      }

      > span {
        transform: scale(1);
      }
    }

    > img {
      width: 50px;
      transition: all 300ms ease;
    }

    > span {
      transform: scale(0);
      transition: all 300ms ease;
    }
  }
}

/* EXPERIENCE */
#experience-grid {
  > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 1px solid #000;
    padding: 24px 0;

    &:last-child {
      border-bottom: none;
    }

    > #experience-dates {
      display: flex;
      margin: 0 16px;
    }

    > #experience-text {
      margin: 0 16px;
    }
  }
}

/* PROJECTS */
#project-grid {
  display: flex;
  flex-wrap: wrap;

  > div {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    margin: 2.5% auto;
    > img {
      width: 100%;
      border-radius: 10px;
    }
  }
}

/* PROJECTS */
/*
#projects {
  padding: 0 20px;
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 47%;
  margin-bottom: 64px;
}

.project:last-child {
  margin-bottom: 1%;
}

.project__img {
  width: 100%;
  transition: all 500ms ease;
  max-height: 319px;
}

.project__wrapper {
  display: flex;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2;
  transform: translateY(100%);
}

.project:hover .project__wrapper:before {
  transform: translateY(0);
  opacity: 0.8;
}

.project:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(100%);
  max-width: 550px;
  padding: 0 30px;
  z-index: 3;
  opacity: 0;
  transition:
    transform 450ms,
    opacity 300ms;
}

.project__description--para {
  margin: 16px 0;
}

.project__description--links {
  font-size: clamp(14px, 1.5vw, 18px);
  display: flex;
  gap: 16px;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
  text-align: left;
  color: #fff;
}

/* FOOTER */

footer {
  position: relative;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
}

.footer__row {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.footer__logo--img {
  height: 75px;
}

.footer__social--link,
.footer__copyright,
.footer__logo--popper {
  color: #242424;
}

.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__anchor {
  position: relative;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(60px);
  opacity: 1;
}

@media (prefers-color-scheme: light) {
  body {
    background-image:
      linear-gradient(
        to bottom,
        rgba(246, 241, 241, 0) 0%,
        rgba(246, 241, 241, 1) 100%
      ),
      linear-gradient(to right, #ffa8d4, #c2fcff);
    background-color: #f6f1f1;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-image:
      linear-gradient(
        to bottom,
        rgba(36, 36, 36, 0.5) 0%,
        rgba(36, 36, 36, 1) 100%
      ),
      linear-gradient(to right, #ff007f, #00f2fe);
    background-color: #242424;
    color: white;
  }
  .nav__link--anchor,
  .social__link,
  .footer__social--link,
  .footer__copyright {
    color: white;
  }
  #personal-logo,
  .footer__logo--img {
    filter: invert(1);
  }
  .link__hover-effect--black:after {
    background-color: white;
  }
  #experience-grid {
    > div {
      border-bottom: 1px solid rgba(255, 255, 255, 0.45);
    }
  }
}

/* Larger tablets */
@media (max-width: 1032px) {
  body {
    max-height: 100vh;
  }
  #landing-page {
    min-height: auto;

    #tech-grid {
      > figure {
        &:hover {
          > img {
            transform: scale(0.8);
          }
        }

        > img {
          width: 36px;
        }
      }
    }
  }
  .modal {
    top: 25%;
    left: 5%;
    transform: none;
    height: auto;
  }
  .mail_btn {
    bottom: 50px;
  }
  .scroll {
    display: none;
  }
  .container {
    padding: 1% 0 0 0;
  }
  .section__title {
    margin-bottom: 16px;
  }
  .project {
    width: 47%;
    margin-bottom: 36px;
  }
  .footer__row {
    padding: 1% 0 0 0;
  }
  .footer__anchor {
    margin-bottom: 1%;
  }
  .footer__logo--popper {
    display: none;
  }
}

/* Small phones, tablets, large smart phones */
@media (max-width: 768px) {
  body {
    overflow: hidden;
  }
  nav {
    height: auto;
    padding: 1% 0;
  }
  .modal {
    top: 10%;
  }
  .modal__half {
    padding: 32px;
  }
  .header {
    gap: 16px;
  }
  .header__picture {
    display: flex;
  }
  .project__description--para {
    display: none;
  }
}

/* Small phones */
@media (max-width: 524px) {
  body {
    overflow: auto;
  }
  #personal-logo {
    height: 40px;
  }
  #landing-page {
    margin-bottom: 24px;
  }
  .pretitle,
  .title,
  .posttitle {
    margin-bottom: 8px;
  }
  .header {
    flex-direction: column-reverse;
    align-items: center;
  }
  .header__content {
    width: 100%;
  }
  .header__picture {
    margin-bottom: 16px;
    width: 100%;
  }
  .header__picture > img {
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
  }
  .mail__btn {
    width: 48px;
    height: 48px;
    font-size: 24px;
    bottom: 56px;
    right: 16px;
  }
  .nav__link:first-child {
    display: none;
  }
  .project {
    width: 100%;
    margin-bottom: 24px;
  }
  .project:last-child {
    margin-bottom: 24px;
  }
  .project__wrapper {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
  }
  .project__description--para {
    display: none;
  }
  .project__description {
    left: 0;
    padding: 16px;
    width: 100%;
    text-align: center;
  }
  .project__description--sub-title {
    margin-bottom: 8px;
    font-weight: 500;
  }
  .modal__half {
    padding: 40px;
  }
}
